<!-- remove this file. only for demo -->
<h2>Vote on: Pizza Night</h2>
<div class="well">
    <p>Event time: 6pm, 5/20/17</p>
    <p>vote ends at: 3pm, 5/19/17</p>
</div>
<form class="well">
    <label>Will you be attending?</label>
    <select>
        <option>Yes</option>
        <!--if yes, add user to event collection-->
        <option>No</option>
        <!-- if no, grey out rest of form and delete user from event collection -->
    </select>
</form>
<h3>Choices</h3>
<form id="choices" class="well">
    <input type="radio" name="choice" value="Tacos Chukis">Sizzle Pie
    <input type="radio" name="choice" value="Tacos Chukis">Gatti's
    <br>
</form>
<input type="text" name="newChoice" placeholder="Add a new choice" ng-model="newChoice">
<button ng-click="addToChoices()" class="btn btn-primary">Add Choice</button>
<br>
