<h2 class="text-center">Hello, Mark</h2>
<div class="col-xs-6 col-xs-offset-3">
    <h3>Your Current Events</h3>
    <div class="well">
        <a href="vote/1">Taco Night</a>
        <hr>
        <p>Event Date: 6pm, 5/20/17</p>
        <p>Attending: Yes</p>
        <p>Voting Ended: <strong>No</strong></p>
    </div>
    <div class="well">
        <a href="#">Sport's Game</a>
        <hr>
        <p>Event Chosen: <strong>Mariner's Game</strong></p>
        <p>Event Date: 3pm, 5/24/17</p>
        <p>Attending: Yes</p>
    </div>
</div>
